<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <!-- L'action VIEW est nécessaire pour que le système puisse diriger l'intention vers votre application -->
                <action android:name="android.intent.action.VIEW" />

                <!-- La catégorie BROWSABLE permet à l'intent d'être exécuté à partir d'un navigateur web -->
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- La catégorie DEFAULT est nécessaire pour que votre activité puisse recevoir des intents implicites -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- Le schéma de données que votre application va écouter -->
                <!-- Ici, "flocon" est le schéma que vous avez spécifié -->
                <data android:scheme="flocon" />

            </intent-filter>
        </activity>
    </application>

</manifest>