name: Android Pull Request Check
on:
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened, ready_for_review] 
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Build FloconAndroid
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        working-directory: FloconAndroid
        run: ./gradlew assemble
